﻿// Microsoft Visual C++ generated resource script.
਍⼀⼀ഀഀ
#include "resource.h"
਍ഀഀ
#define APSTUDIO_READONLY_SYMBOLS
਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䜀攀渀攀爀愀琀攀搀 昀爀漀洀 琀栀攀 吀䔀堀吀䤀一䌀䰀唀䐀䔀 ㈀ 爀攀猀漀甀爀挀攀⸀ഀഀ
//
਍⌀椀昀渀搀攀昀 䄀倀匀吀唀䐀䤀伀开䤀一嘀伀䬀䔀䐀ഀഀ
#include "targetver.h"
਍⌀攀渀搀椀昀ഀഀ
#define APSTUDIO_HIDDEN_SYMBOLS
਍⌀椀渀挀氀甀搀攀 ∀眀椀渀搀漀眀猀⸀栀∀ഀഀ
#undef APSTUDIO_HIDDEN_SYMBOLS
਍ഀഀ
/////////////////////////////////////////////////////////////////////////////
਍⌀甀渀搀攀昀 䄀倀匀吀唀䐀䤀伀开刀䔀䄀䐀伀一䰀夀开匀夀䴀䈀伀䰀匀ഀഀ

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
// 한국어(대한민국) resources
਍ഀഀ
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
਍䰀䄀一䜀唀䄀䜀䔀 䰀䄀一䜀开䬀伀刀䔀䄀一Ⰰ 匀唀䈀䰀䄀一䜀开䐀䔀䘀䄀唀䰀吀ഀഀ

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䤀挀漀渀ഀഀ
//
਍ഀഀ
// Icon with lowest ID value placed first to ensure application icon
਍⼀⼀ 爀攀洀愀椀渀猀 挀漀渀猀椀猀琀攀渀琀 漀渀 愀氀氀 猀礀猀琀攀洀猀⸀ഀഀ
IDI_WINAPITESTCLIENT    ICON                    "LL2_Client_Win.ico"
਍ഀഀ
IDI_SMALL               ICON                    "small.ico"
਍ഀഀ

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䴀攀渀甀ഀഀ
//
਍ഀഀ
IDC_WINAPITESTCLIENT MENU
਍䈀䔀䜀䤀一ഀഀ
POPUP "파일(&F)"
BEGIN
MENUITEM "끝내기(&X)", IDM_EXIT
END
POPUP "도움말(&H)"
BEGIN
MENUITEM "정보(&A)...", IDM_ABOUT
END
END

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䄀挀挀攀氀攀爀愀琀漀爀ഀഀ
//
਍ഀഀ
IDC_WINAPITESTCLIENT ACCELERATORS
਍䈀䔀䜀䤀一ഀഀ
"?", IDM_ABOUT, ASCII, ALT
"/", IDM_ABOUT, ASCII, ALT
END
਍ഀഀ

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䐀椀愀氀漀最ഀഀ
//
਍ഀഀ
IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
਍匀吀夀䰀䔀 䐀匀开匀䔀吀䘀伀一吀 簀 䐀匀开䴀伀䐀䄀䰀䘀刀䄀䴀䔀 簀 䐀匀开䘀䤀堀䔀䐀匀夀匀 簀 圀匀开倀伀倀唀倀 簀 圀匀开䌀䄀倀吀䤀伀一 簀 圀匀开匀夀匀䴀䔀一唀ഀഀ
CAPTION "정보 LL2_Client_Win"
਍䘀伀一吀 㤀Ⰰ ∀䴀匀 匀栀攀氀氀 䐀氀最∀Ⰰ 　Ⰰ 　Ⰰ 　砀㄀ഀഀ
BEGIN
ICON            IDI_WINAPITESTCLIENT, IDC_STATIC, 14, 14, 21, 20
LTEXT           "LL2_Client_Win, 버전 1.0", IDC_STATIC, 42, 14, 114, 8, SS_NOPREFIX
LTEXT           "Copyright (C) 2024", IDC_STATIC, 42, 26, 114, 8
DEFPUSHBUTTON   "확인", IDOK, 113, 41, 50, 14, WS_GROUP
਍䔀一䐀ഀഀ

਍䤀䐀䐀开䰀伀䜀䤀一 䐀䤀䄀䰀伀䜀䔀堀 　Ⰰ 　Ⰰ ㈀㄀㤀Ⰰ ㄀㄀㘀ഀഀ
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
਍䌀䄀倀吀䤀伀一 ∀尀碭⋇ഀഀ
FONT 9, "MS Shell Dlg", 0, 0, 0x0
਍䈀䔀䜀䤀一ഀഀ
DEFPUSHBUTTON   "로그인", ID_BUTTON_LOGIN, 30, 68, 155, 16
LTEXT           "서버이름/주소:", IDC_STATIC, 9, 9, 40, 8
LTEXT           "포트", IDC_STATIC, 164, 9, 12, 8
EDITTEXT        IDC_EDIT_PORT, 180, 7, 32, 14, ES_AUTOHSCROLL
LTEXT           "아이디:", IDC_STATIC, 29, 30, 20, 8
LTEXT           "패스워드:", IDC_STATIC, 23, 45, 26, 8
EDITTEXT        IDC_EDIT_ID, 50, 26, 108, 14, ES_AUTOHSCROLL
EDITTEXT        IDC_EDIT_PASSWD, 50, 42, 108, 14, ES_PASSWORD | ES_AUTOHSCROLL
EDITTEXT        IDC_EDIT_HOST, 50, 7, 108, 14, ES_AUTOHSCROLL
CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME, 7, 89, 205, 1
DEFPUSHBUTTON   "취소", ID_CANCEL, 112, 96, 34, 13
DEFPUSHBUTTON   "회원가입", ID_BUTTON_REGISTER, 72, 96, 34, 13
END
਍ഀഀ
IDD_REGISTER DIALOGEX 0, 0, 184, 114
਍匀吀夀䰀䔀 䐀匀开匀䔀吀䘀伀一吀 簀 䐀匀开䴀伀䐀䄀䰀䘀刀䄀䴀䔀 簀 䐀匀开䘀䤀堀䔀䐀匀夀匀 簀 圀匀开倀伀倀唀倀 簀 圀匀开䌀䄀倀吀䤀伀一 簀 圀匀开匀夀匀䴀䔀一唀ഀഀ
CAPTION "회원가입"
਍䘀伀一吀 㤀Ⰰ ∀䴀匀 匀栀攀氀氀 䐀氀最∀Ⰰ 　Ⰰ 　Ⰰ 　砀　ഀഀ
BEGIN
DEFPUSHBUTTON   "회원가입", ID_BUTTON_REGISTER, 12, 87, 155, 16
LTEXT           "아이디:", IDC_STATIC, 36, 12, 20, 8
LTEXT           "패스워드:", IDC_STATIC, 30, 42, 26, 8
EDITTEXT        IDC_EDIT_ID, 57, 10, 108, 14, ES_AUTOHSCROLL
EDITTEXT        IDC_EDIT_PASSWD, 57, 40, 108, 14, ES_PASSWORD | ES_AUTOHSCROLL
CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME, 9, 83, 161, 1
LTEXT           "패스워드 확인:", IDC_STATIC, 16, 57, 40, 8
EDITTEXT        IDC_EDIT_PASSWD_CHECK, 57, 55, 108, 14, ES_PASSWORD | ES_AUTOHSCROLL
LTEXT           "닉네임:", IDC_STATIC, 36, 27, 20, 8
EDITTEXT        IDC_EDIT_NICK, 57, 25, 108, 14, ES_AUTOHSCROLL
਍䔀一䐀ഀഀ

਍䤀䐀䐀开圀伀刀䰀䐀 䐀䤀䄀䰀伀䜀䔀堀 　Ⰰ 　Ⰰ ㌀　㤀Ⰰ ㄀㈀㌀ഀഀ
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
਍䌀䄀倀吀䤀伀一 ∀䐀椀愀氀漀最∀ഀഀ
FONT 8, "MS Shell Dlg", 400, 0, 0x1
਍䈀䔀䜀䤀一ഀഀ
DEFPUSHBUTTON   "접속", ID_BUTTON_WORLD_ENTER, 87, 102, 50, 14
PUSHBUTTON      "취소", IDCANCEL, 141, 102, 50, 14
EDITTEXT        IDC_EDIT_CHARLIST, 6, 16, 296, 12, ES_AUTOHSCROLL
EDITTEXT        IDC_EDIT_WORLD_CHARID, 51, 42, 82, 14, ES_AUTOHSCROLL
EDITTEXT        IDC_EDIT_WORLD_CHANNELID, 50, 67, 82, 14, ES_AUTOHSCROLL
LTEXT           "char_id", IDC_STATIC, 23, 46, 24, 8
LTEXT           "channel", IDC_STATIC, 23, 70, 26, 8
LTEXT           "char_list", IDC_STATIC, 6, 7, 28, 8
END
਍ഀഀ

਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 䐀䔀匀䤀䜀一䤀一䘀伀ഀഀ
//
਍ഀഀ
#ifdef APSTUDIO_INVOKED
਍䜀唀䤀䐀䔀䰀䤀一䔀匀 䐀䔀匀䤀䜀一䤀一䘀伀ഀഀ
BEGIN
IDD_ABOUTBOX, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 163
TOPMARGIN, 7
BOTTOMMARGIN, 55
END

IDD_LOGIN, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 212
TOPMARGIN, 7
BOTTOMMARGIN, 109
END

IDD_REGISTER, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 177
TOPMARGIN, 10
BOTTOMMARGIN, 107
END

IDD_WORLD, DIALOG
BEGIN
LEFTMARGIN, 6
RIGHTMARGIN, 302
TOPMARGIN, 7
BOTTOMMARGIN, 116
END
END
#endif    // APSTUDIO_INVOKED

਍ഀഀ
#ifdef APSTUDIO_INVOKED
਍⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀⼀ഀഀ
//
਍⼀⼀ 吀䔀堀吀䤀一䌀䰀唀䐀䔀ഀഀ
//
਍ഀഀ
1 TEXTINCLUDE
਍䈀䔀䜀䤀一ഀഀ
"resource.h\0"
਍䔀一䐀ഀഀ

2 TEXTINCLUDE
BEGIN
"#ifndef APSTUDIO_INVOKED\r\n"
"#include ""targetver.h""\r\n"
"#endif\r\n"
"#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
"#include ""windows.h""\r\n"
"#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
IDS_APP_TITLE           "LL2_Client_Win"
IDC_WINAPITESTCLIENT    "WINAPITESTCLIENT"
END

#endif    // 한국어(대한민국) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
